body{
    margin:0px;
}

header img {
    width:100%;
    height:250px;
}
h1 {
    color:hsl(0, 100%, 40%)
}

li {
    padding:0.4rem;
}

.main{
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem;
}

.ingress{
    background-color: hsl(0, 0%, 90%);
    padding: 1rem;
}

.footerpicture {
    width:49%;
    display:inline-block;   
}

