body{
    margin:0px;
    font-size: 1rem;
}

header img {
    width:100%;
    height:400px;
}

h1 {
    color:hsl(0, 100%, 40%)
}

li {
    padding:0.3rem;
    margin-left: -1rem;
}

.main{
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem;
}

.ingress{
    background-color: hsl(0, 0%, 90%);
    padding: 1rem;
}

.footerPicture {
    width:48%;
    display:inline-block;
}

.padRight {
    margin-right: 1em;;
}
