html{
    background-color: hsl(6, 93%, 71%);
}

/*För att låsa maxbredden och få innehållet centrerat oavsett bredd av webbläsare. */
body{
    margin:auto;
    max-width: 800px;
    background-color:#ffffff;
}
/*Lägger in % för scalning av bild.*/
header img {
    width:100%;
    height:100%;
}

/*La in max-width för att undvika horizontell scrollbar och skala bilderna bättre*/
main img{
    max-width:100%;
}


h1 {
    color:#cc0000;
}

/*För att få listorna i jämnkant med övriga element justerat vi display med content istället för block*/
ul, ol {
    display:contents;
}

/*lägger in ett litet mellanrum mellan li för ökad tydlighet*/
li {
    padding:0.3rem;
    margin-left: 1rem;
}

/*
Klassen för att homogenisera layouten mellan elementen i main.
*/
.font-margin{
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: 0.7rem;*/
    margin: min(4%, 2rem);
}

/*
Formatering av ingressen
*/
.ingress{
    background-color: #e6e6e6;
    padding: 1rem;
}

/*
Till bilderna i Serveringsförslag så de ligger snyggt med bra mellanrum
*/
.image-flex {
    display:flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 2rem;
}

/*
Arbeta med fokuslänkarna så de bara syns vid tabb-navigering
och ligger ovanpå underlaget.
*/
.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  background-color: #fffbcc;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

/*
Ta fram fokuslänkarna när man tabbar sig igenom dokumentet
*/
.skip:focus {
  padding:0.25rem;
  position: fixed;
  left:auto;
  width: auto;
  height: auto;
}
