html{
    background-color: hsl(6, 93%, 71%);
}

/*För att låsa maxbredden och få innehållet centrerat oavsett bredd av webbläsare. */
body{
    margin:auto;
    max-width: 800px;
    background-color:hsl(0, 0%, 100%);
}

/*Låser height eftersom orginalbilden inte var av samma dimensioner som figma övningen*/
header img {
    width:100%;
    height:300px;
}

h1 {
    color:hsl(0, 100%, 40%);
}

figure{
    margin:0px;
}

/*För att få listorna i jämnkant med övriga element justerat vi display med content istället för block*/
ul, ol {
    display:contents;
}

/*lägger in ett litet mellanrum mellan li för ökad tydlighet*/
li {
    padding:0.3rem;
    margin-left: 1rem;
}

/*La in max-width för att undvika horizontell scrollbar */
footer img{
    width: 350px;
    max-width:100%;
    margin-bottom: min(4%,2rem);
}

/*
Klassen för att homogenisera layouten för main och footer.
*/
.font-margin{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    margin: min(4%, 2rem);
}

/*
Formatering av ingressen
*/
.ingress{
    background-color: hsl(0, 0%, 90%);
    padding: 1rem;
}

/*
Till bilderna i footern så de ligger snyggt med bra mellanrum
*/
.image-flex {
    display:flex;
    flex-wrap: wrap;
    gap: 1rem;
}

/*
Arbeta med fokuslänkarna så de bara syns vid tabb-navigering
och ligger ovanpå underlaget.
*/
.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  background-color: hsl(55, 100%, 70%);
}

.skip:focus {
  position: fixed;
  left:auto;
  font-weight: bold;
  width: auto;
  height: auto;
}