body{
    margin:0px;
    font-size: 0.7rem;
}

header img {
    width:100%;
    height:300px;
}

h1 {
    color:hsl(0, 100%, 40%);

}

li {
    padding:0.3rem;
    margin-left: -1rem;
}

footer {
    display:flex;
    flex-wrap:wrap;
    gap: 1rem;
    }

footer img{
    width: 350px;
}

.main{
    font-family: Arial, Helvetica, sans-serif;
    margin: min(4%, 2rem);
}

.ingress{
    background-color: hsl(0, 0%, 90%);
    padding: 1rem;
}
